<p id="notice"><%= notice %></p>

<h1>Paper Management System</h1>
Show index of:
<ul>
    <li> <%= link_to "Authors", authors_path %> </li>
    <li> <%= link_to "Papers", papers_path  %> </li>
</ul>
<i> You are seeing the rendered view of 'views/home/index.html.erb' </i>
